<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="../AJAX.js"></script>

    <title>Goal</title>
</head>
<body>
    <div>
        <h1><%= name %></h1>

        <b>Owner:</b> <%= owner %><br/>
        <b>Frequency:</b> <%= freq %><br/>
        <b>Entry Type:</b> <%= entry_t %><br/>
    </div>

    <h2>New Entry</h2>
    <form>
        Input:
        <input type="text" id="input"><br/>
        <!--Date:
        <input type="date" id = "date">-->
        <input type="hidden" id ="goal_id" value= <%= id %> >
        
        <input type="button" onclick="createEntry()" value="create">
    </form>

    <h2>Entries:</h2>
    <div id = "entries">
        <%- entries %>
    </div>

</body>
</html>