<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="../AJAX.js"></script>

    <title>Goal</title>
</head>
<body>
    <h1><%= name %></h1>

    <p>Owner: <%= owner %></p>
    <p>Frequency: <%= freq %></p>
    <p>Entry Type: <%= entry_t %></p>

    Entries:
    <pre id = "entries"><%= entries %></pre>

    <b>New Entry</b>
    <form>
        Input:
        <input type="text" id="input"><br/>
        <!--Date:
        <input type="date" id = "date">-->
        <input type="hidden" id ="goal_id" value= <%= id %> >
        
        <input type="button" onclick="createEntry()" value="Create">
    </form>

</body>
</html>